.login_wrapper{
    display:flex;
    color: #fff;

}
.main_wrapper{
    display:flex;
}
.slider{
    height:30%;
    margin:auto;
    display:flex;
    text-align: center;
}
.header-img{
    margin:auto;
}

.header{
    color: #fff;
    height:4%;
    width:100%;
    background-color: #000;
}
.navi{
    width:20%;
    height:64%;
    background-color: yellow;
}
.article{
    width:60%;
    height:64%;
    background-color: green;
}
.aside{
    width:20%;
    height:64%;
    background-color: greenyellow;
}