@charset 'UTF-8';
.login_wrapper{
    display:flex;
    color: #fff;
    background-color: #000;
    justify-content: flex-end;
}
.main_wrapper{
    display:flex;
}
.slider{
    height:30%;
    margin:auto;
    display:flex;
    text-align: center;
}
.header-img{
    margin:auto;
}

.header{
    color: #fff;
    height:4%;
    /* width:100%; */
    border:solid 1px #fff;
    margin:0px;
   
    
}
.navi{
    width:20%;
    height:64%;
    background-color: yellow;
}
.article{
    width:60%;
    height:auto;
    background-color: green;
}
.aside{
    width:20%;
    height:64%;
    background-color: greenyellow;
}